* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas:
        "header header"
        "menu    main"
        "footer footer";
}

header {
    grid-area: header;
    background: #3498db;
}

aside {
    grid-area: menu;
    background: #2ecc71;
}

main {
    grid-area: main;
    background: #ecf0f1;
}

footer {
    grid-area: footer;
    background: #34495e;
}

header,
aside,
main,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font: 20px Arial;
}

@media (max-width: 768px) {

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 80px 60px 1fr 60px;
        grid-template-areas:
            "header"
            "menu"
            "main"
            "footer";
    }
}